# Ignore everything in Data
Data/*

# Re-allow Figures folder and its contents
!Data/Figures/
!Data/Figures/**

# Ignore everything in Results
Results/*

# Allow Results placeholder
!Results/.gitkeep

# Python cache
__pycache__/
*.pyc
